$containerMaxWidth: 1220px;
$containerMinwidth: 320px;
$containerPadding: 16px;
$gutter: 20px;



$fontfamily: "Geometria",
sans-serif;
$fontSize: 10px;
$lineHeight: 1.25;

$md1: 1199.98;
$md2: 992.98;
$md3: 767.98;
$md4: 576.98;


$wildSand: #F5F5F5;
$Boulder: #777777;
$acentColor1:#A557C7;
$acentColor2:#F9A000;
$Mercury:#E5E5E5;
$Silver:#C4C4C4;
$Cararra:#E5E5E1;

$heroBg:linear-gradient(90deg, #DCDCDC 0%, #ECECEC 100%);
$boxShadow: 6px 6px 18px #EFEFEF;