.feedback {
   background-image: url(../img/feedback/feedback-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   @media (max-width:$md2+px) {
      padding-top: 105px;
      padding-bottom: 69px;
      background-position: inherit;
   }

   @media (min-width:$md2+px) {
      padding-top: 183px;
      padding-bottom: 111px;
   }

   &__body {
      position: relative;

      @media (min-width:$md3+px) {
         display: flex;
         justify-content: space-between;
         align-items: flex-end;
      }
   }

   &__col {
      &:first-child {

         @media (min-width:$md3+px) {
            max-width: 265px;
         }

         @media (min-width:$md2+px) {
            max-width: 470px;
         }
      }
   }

   &__title {
      position: relative;
      color: #fff;
      text-align: left;
      z-index: 2;

      @media (max-width:$md3+px) {
         margin-bottom: 17px;
         text-align: center;
      }

      @media (min-width:$md3+px) {
         margin-bottom: 10px;
      }

      @media (min-width:$md2+px) {
         line-height: 60px;
         margin-bottom: 36px;
      }
   }


   &__text {
      color: #fff;
      font-weight: 500;
      position: relative;
      z-index: 2;

      @media (max-width:$md3+px) {
         text-align: center;
         margin-bottom: 118px;
      }

      @media (max-width:$md2+px) {
         font-size: 14px;
         line-height: 18px;
      }

      @media (min-width:$md2+px) {
         font-size: 24px;
         line-height: 30px;
      }
   }

   &__form {
      position: relative;
      background-color: #fff;
      z-index: 2;

      @media (max-width:$md2+px) {
         width: 268px;
         margin: 0 auto;
         padding: 24px 30px;
         border-radius: 9px;
      }

      @media (min-width:$md2+px) {
         max-width: 455px;
         padding: 36px 50px;
         border-radius: 15px;
      }

      &:after {
         content: '';
         background-image: url(../img/feedback/feedback-img.png);
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
      }
   }

   &__img {
      position: absolute;
      top: -75px;
      left: 50px;
      z-index: 1;

      @media (max-width:$md3+px) {
         top: 70px;
         left: -48px;
         max-width: initial;
         width: 600px;
      }

      @media (min-width:$md3+px) {
         top: -30px;
         left: 35px;
      }

      @media (min-width:$md2+px) {
         top: -75px;
         left: 50px;
      }
   }

   &__form-title {
      font-weight: bold;
      color: #000;
      text-align: center;


      @media (max-width:$md2+px) {
         font-size: 14px;
         line-height: 17px;
         margin-bottom: 18px;
      }

      @media (min-width:$md2+px) {
         font-size: 24px;
         line-height: 29px;
         margin-bottom: 27px;
      }


      span {
         font-family: 'Montserrat';
         font-weight: 500;
         display: block;
         color: $acentColor1;
      }
   }

   &__label {
      position: relative;
      display: flex;
      font-family: 'Montserrat';
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #C4C4C4;
      cursor: pointer;
      padding-right: 32px;

      input {
         position: absolute;
         opacity: 0;
         visibility: hidden;

         &:checked+.checkbox__control {
            &:before {
               color: $acentColor1;
            }
         }
      }
   }

   &__checkbox-control {
      margin-right: 17px;
   }
}

.form-feedback {
   margin: 0 auto;

   @media (max-width:$md2+px) {
      max-width: 175px;
   }

   @media (min-width:$md2+px) {
      max-width: 300px;
   }

   &__group {
      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }

   &__input {
      width: 100%;
      background: #F4F4F4;
      border: none;
      border-radius: 50px;

      @media (max-width:$md2+px) {
         padding: 11px 16px;
      }

      @media (min-width:$md2+px) {
         padding: 22px 32px;
      }

      &::placeholder {
         color: #C4C4C4;
      }
   }

   &__btn {
      font-weight: 600;
      margin-top: 20px;
      letter-spacing: 0;
      margin-bottom: 20px;

      @media (min-width:$md2+px) {
         font-family: 'Montserrat';
         font-size: 20px;
         line-height: 24px;
         padding-left: 62px;
         padding-right: 62px;
      }
   }
}