.header {

   &__container {
      max-width: 1630px;
   }

   &__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 16px;

      &:after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 59px;
         background-color: $wildSand;
         z-index: -1;
      }

      @media (min-width:$md1+px) {
         padding-top: 23px;
         padding-bottom: 27px;

         &:after {
            height: 100px;
         }
      }

      &.sticky {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         z-index: 100;
         padding-left: 16px;
         padding-right: 16px;

         @media (min-width:$md2+px) {
            padding-left: 100px;
            padding-right: 100px;
         }
      }
   }

   &__bottom {
      padding: 14px 38px;

      @media (max-width:$md3+px) {
         display: none;
      }

      @media (min-width:$md2+px) {
         max-width: 1006px;
         margin: 0 auto;
      }

      @media (min-width:$md1+px) {
         padding: 28px 0px 22px 0px;
      }

   }

   &__logo {
      @media (max-width:$md1+px) {
         height: 28px;
      }

      height: 50px;

      img {
         height: 100%;
      }
   }

   &-social-dectop {
      @media (max-width:$md3+px) {
         display: none !important;
      }

      a {
         transition: transform 0.3s;

         &:hover {
            transform: scale(1.1);
         }
      }
   }

   &__action {
      @media (max-width:$md3+px) {
         margin-right: 34px;
      }

      @media (min-width:$md3+px) {
         display: flex;
         align-items: center;
         margin-right: 21px;
      }

      @media (min-width:$md1+px) {
         margin-right: 50px;
      }

      &-shop {
         display: inline-block;

         @media (min-width:$md3+px) {
            margin-right: 19px;

            img {
               width: 15px;
               height: auto;
            }
         }

         @media (min-width:$md1+px) {
            margin-right: 40px;

            img {
               width: 30px;
            }
         }
      }

      &-tel {
         font-weight: bold;
         color: #000000;
         padding: 8px 12px;
         background-color: $Cararra;

         @media (max-width:$md3+px) {
            display: none;
         }

         @media (min-width:$md1+px) {
            font-size: 20px;
            padding: 8px 20px;
         }
      }
   }

   &__navigation {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 100;
      transition: right 0.3s ease 0s;

      @media (min-width:$md3+px) {
         width: 235px;
      }

      @media (min-width:$md1+px) {
         width: 415px;
      }

      &-item {
         &:first-child {
            padding-top: 18px;

            @media (min-width:$md3+px) {
               padding-top: 34px;
            }

            @media (min-width:$md1+px) {
               padding-top: 87px;
            }
         }


         padding: 27px 20px 23px 32px;

         &:not(:last-child) {
            border-bottom: 1px solid #E6E6E6;
         }

      }

      &.show-menu {
         right: 0;
      }

      &-shop {
         display: flex;
         align-items: center;
         margin-top: 0;

         img {
            width: 27px;

            @media (min-width:$md3+px) and (max-width:$md1+px) {
               width: 17px;
            }
         }

         span {
            font-weight: normal;
            font-size: 18px;
            color: #000000;
            margin-left: 17px;

            @media (min-width:$md3+px) and (max-width:$md1+px) {
               font-size: 12px;
               line-height: 15px;
            }
         }
      }
   }
}



.menu {
   &__item {
      position: relative;

      &:not(:last-child) {
         margin-bottom: 17px;
      }

      @media (min-width:$md3+px) and (max-width:$md1+px) {
         &:not(:last-child) {
            margin-bottom: 10px;
         }
      }
   }

   &__link {
      font-weight: normal;
      font-size: 18px;
      text-transform: uppercase;
      color: #000000;
      transition: font 0.2s;

      @media (min-width:$md3+px) and (max-width:$md1+px) {
         font-size: 12px;
         line-height: 15px;
      }

      &:hover,
      &:focus {
         font-weight: bold;
      }
   }
}

.header-contacts {

   &__item {
      &:not(:last-child) {
         margin-bottom: 20px;
         max-width: 226px;
      }

      span {
         display: block;
         font-weight: normal;
         font-size: 16px;
         color: #C4C4C4;
         margin-bottom: 4px;

         @media (min-width:$md3+px) and (max-width:$md1+px) {
            font-size: 10px;
            line-height: 13px;
         }
      }

      p,
      a {
         font-weight: bold;
         font-size: 18px;
         line-height: 23px;
         color: #000000;

         @media (min-width:$md3+px) and (max-width:$md1+px) {
            font-size: 12px;
            line-height: 15px;
         }
      }
   }
}


.social {
   display: flex;
   align-items: center;
   margin-right: 40px;
   margin-left: auto;

   &__item {
      display: flex;

      &:not(:last-child) {
         margin-right: 24px;
      }

      @media (min-width:$md3+px) and (max-width:$md1+px) {
         width: 18px;
      }

   }
}


.desktop-menu {

   &__list {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      position: relative;

      &:hover {
         .dropdown-menu {
            display: block;
         }
      }
   }

   &__link {
      font-weight: normal;
      text-transform: uppercase;
      color: #000000;

      &:hover,
      &:focus {
         text-shadow: 0 0 0.75px #000000, 0 0 0.75px #000000;
      }

      @media (min-width:$md1+px) {
         font-size: 20px;
         line-height: 25px;
      }
   }
}


/*  -------------  HEADER ICON -----------  */
.icon-menu {
   position: relative;
   width: 20px;
   height: 15px;
   cursor: pointer;
   z-index: 101;
   transition: a 0.3s;

   @media (min-width:$md1+px) {
      width: 30px;
      height: 23px;
   }

   span {
      transition: transform 0.3s ease 0s, scale 0.3s ease 0s;
      top: 6px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;

      @media (min-width:$md1+px) {
         top: 10px;
      }

      &:first-child {
         top: -1px;
      }

      &:last-child {
         top: auto;
         bottom: 0px;
      }
   }

   &.active {
      @media (min-width:$md1+px) {
         position: fixed;
         right: 40px;
         top: 40px;
      }

      span {
         @include scale(0);

         &:first-child {
            @include rotate(-45deg);
            top: 5px;
         }

         &:last-child {
            @include rotate(45deg);
            bottom: 8px;

            @media (min-width:$md1+px) {
               bottom: 15px;
            }
         }
      }

   }
}

.dropdown-menu {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   background-color: #fff;
   z-index: 10;
   min-width: 229px;
   padding: 26px 26px;
   box-shadow: 10px 10px 20px rgba(224, 224, 224, 0.5);

   &__item {
      &:not(:last-child) {
         margin-bottom: 12px;
      }
   }

   &__link {
      color: #000;
      transition: color 0.3s;

      &:hover {
         color: $acentColor1;
      }
   }
}