.print {

   @media (min-width:$md3+px) {
      margin-bottom: 99px;
   }

   &__title {
      text-align: left;

      @media (max-width:$md3+px) {
         margin-bottom: 25px;
         text-align: center;
      }
   }

   &__slider {
      position: relative;

      @media (max-width:$md2+px) {
         padding-bottom: 69px;
      }
   }

   &__info {

      @media (min-width:$md2+px) {
         width: calc(100% - 245px - 32px);
      }

      @media (min-width:$md1+px) {
         width: calc(100% - 415px - 59px);

      }
   }

   &__info-title {
      font-weight: 500;
      text-transform: uppercase;
      color: #A557C7;
      text-align: left;

      @media (max-width:$md2+px) {
         font-size: 20px;
         line-height: 25px;
         margin-bottom: 23px;
      }

      @media (min-width:$md2+px) {
         font-size: 36px;
         line-height: 45px;
         margin-bottom: 34px;
      }
   }

   &__info-desc {
      font-size: 14px;

      @media (min-width:$md1+px) {
         font-size: 18px;
      }
   }

   &__action {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      z-index: 10;

      @media (max-width:$md3+px) {
         right: 50%;
         top: 310px;
         transform: translateX(50%);
      }

      @media (min-width:$md3+px) {
         right: 145px;
         bottom: 10px;
      }
   }

   &__tn {
      margin-right: 50px;

      @media (max-width:$md2+px) {
         margin-right: 10px;
      }
   }

   &__pagination {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      left: auto;
      bottom: auto;
      width: auto;
      z-index: 16;
      color: #D7D6D6;
      font-size: 14px;
      font-weight: 500;

      @media (max-width:$md3+px) {
         top: 373px
      }

      @media (min-width:$md3+px) {
         font-size: 24px;
         line-height: 30px;
         top: -3px;
      }

   }
}

.slider-print {
   overflow: hidden;

   &__slide {
      display: flex;
      justify-content: space-between;

      @media (max-width:$md3+px) {
         flex-direction: column;
         align-items: center;
      }

      @media (min-width:$md3+px) {}
   }

   &__controls {
      display: flex;
   }

   &__control {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid #F9A000;
      z-index: 3;

      @media (max-width:$md1+px) {
         width: 30px;
         height: 30px;

         &:before {
            font-size: 9px;
            color: #F9A000;
         }

      }

      @media (min-width:$md1+px) {
         width: 65px;
         height: 65px;

         &:before {
            font-size: 20px;
            color: #F9A000;
         }

      }


      &.swiper-button-disabled {
         border: 1px solid #F0F0F0;

         &:before {
            color: #F0F0F0;
         }
      }
   }

   &__control-prev {
      margin-right: 20px;
   }

   &__control-next {
      transform: rotate(180deg);
   }
}

.slider-img {
   position: relative;
   width: 415px;
   margin-right: 20px;

   @media (max-width:$md3+px) {
      height: 300px;
      margin-bottom: 68px;
   }

   @media (max-width:$md2+px) {
      width: 245px;

   }

   &__item {
      position: relative;

   }

   &__controls {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
      width: 100%;
   }

   &__control {
      position: absolute;
      top: 0;
      width: 35px;
      height: 35px;
      background: #FFFFFF;
      border: 1px solid #F9A000;
      border-radius: 50%;

      &:before {
         color: #F9A000;
      }

      &.swiper-button-disabled {
         border: 1px solid #B5B5B5;

         &:before {
            color: #B5B5B5;
         }
      }
   }

   &__control-prev {
      left: 10px;
   }

   &__control-next {
      right: 10px;
      transform: rotate(180deg);
   }
}